services:
  # n8n Web Service
  - type: web
    name: n8n-workflow
    env: docker
    plan: free
    region: oregon
    dockerfilePath: ./Dockerfile
    envVars:
      - key: N8N_PORT
        value: 5678
      - key: N8N_PROTOCOL
        value: https
      - key: N8N_HOST
        value: n8n.victorseda.xyz
      - key: WEBHOOK_URL
        value: https://n8n.victorseda.xyz
      - key: GENERIC_TIMEZONE
        value: Africa/Lagos
      - key: DB_TYPE
        value: postgresdb
      - key: DB_POSTGRESDB_HOST
        value: dpg-d43j9gemcj7s73b5b9og-a.oregon-postgres.render.com
      - key: DB_POSTGRESDB_PORT
        value: 5432
      - key: DB_POSTGRESDB_DATABASE
        value: n8n_db_cuwg
      - key: DB_POSTGRESDB_USER
        value: victor
      - key: DB_POSTGRESDB_PASSWORD
        value: PE2ho4tKfqPiTVxkwiSxQ1aMZWnSwXcD
      - key: N8N_ENCRYPTION_KEY
        value: pCPoSZx5L94EHTQhcMHdmomlqtrcBbeALkE/E2Kt54c=
      - key: N8N_USER_MANAGEMENT_JWT_SECRET
        generateValue: true
